:root {
    --black: #000000;
    --white: #ffffff;
    --orange: #EA690B;
    --orange-lighter: #FBE1CE;
}

.amber-container {
    max-width: 1284px;
    padding: 0 64px;
    margin: 0 auto;
}

@media (max-width: 850px) {
    .amber-container {
        width: 100%;
        padding: 0 16px;
    }
}

/*buttons*/

.button {
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    width: 100%;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
}

.button-black {
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
}

.button-black:focus,
.button-black:active,
.button-black:hover {
    background: var(--orange);
    border-color: var(--orange);
}

.button-black-hallow {
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--white);
}

.button-black-hallow:focus,
.button-black-hallow:active,
.button-black-hallow:hover {
    color: var(--white);
    background: rgba(234, 105, 11, 0.20);
    border-color: var(--orange);
}


.button-white {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--black);
}

.button-white:focus,
.button-white:active,
.button-white:hover {
    background: var(--orange-lighter);
    border-color: var(--orange);
}


/*menu*/
.amber-menu {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}


.amber-menu.active {
    transform: translateY(0);
    position: fixed;
    opacity: 100%;
    pointer-events: auto;
    z-index: 30;
}

/*input*/

.amber-input::placeholder {
    color: var(--black);
    text-transform: uppercase;
    font-size: 14px;
}

.amber-input {
    padding: 9px 20px;
    background: white;
    color: var(--black);
    font-size: 14px;
}

.amber-input:focus,
.amber-input:active,
.amber-input:hover {
    border-color: transparent;
    outline: none;
}

/*products block*/

.amber-product-button {
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    padding: 0 17px;
    border: 1px solid var(--black);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: max-content;
    transition: all .3s;
    cursor: pointer;
}

@media (max-width: 640px) {
    .amber-product-button {
        font-size: 12px;
        padding: 0 15px;
    }
}

.amber-product-button.active-product,
.amber-product-button:focus,
.amber-product-button:active,
.amber-product-button:hover {
    background: var(--orange-lighter);
    border-color: var(--orange);
}

.splide__pagination {
    bottom: unset;
}

.custom-pagination-item {
    border: 1px solid var(--black);
    width: 15px;
    height: 15px;
}

.custom-pagination-item.is-active {
    background-color: var(--black);
    opacity: 1;
    transform: scale(1);
}

.splide__arrow,
.splide__arrow:hover:not(:disabled) {
    opacity: 1;
    background: var(--white);
}

.splide:not(.is-overflow) .splide__pagination {
    display: flex;
}

.splide__arrow--prev {
    left: 0;
}
.splide__arrow--next {
    right: 0;
}

.splide-pagination-custom-wrapper {
    max-width: 126px;
    height: 21px;
    overflow: hidden;
}
.splide__pagination.splide__pagination-custom {
    flex-wrap: unset;
    display: flex;
    justify-content: start;
    transition: all .3s;
}
.splide__pagination.splide__pagination-custom li:nth-child(n+7) {
    /*display:none;*/
}

